.pfpImage{
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
}

.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -10px;
}

.eachPost{
    width: 33.33%;
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.postImage{
    width: 100px;
}

.bio{

}

.userName{
    font-weight: bold;
}